.body-welcome {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 10% 5% 10%;
    flex: 1 1 auto;

    p {
        text-align: center;
        color: #FFFFFF;
        padding: 0 5%;
    }

    p.title {
        font-size: 1.4em;
    }
}

.logo {
    width: 19rem;
    display: flex;
    justify-content: center;

    img {
        width: 60%;
    }
}

.btn {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        box-shadow: 2px 2px 4px 0 #00000040;
    }

    button:hover {
        background-color: #FF9D9E;
    }

    a:link {
        color: #FFFFFF;
    }

    a:visited {
        color: #FFFFFF;
    }
}