<div class="body-welcome">
    <app-nav-bar></app-nav-bar>
        <div class="content">
            <div class="logo">
                <img src="./assets/logo/Logo.png" alt="logo">
            </div>

            <section class="txt">
                <p class="text-500 title">Boas-vindas!</p>
                <p class="text-400">Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!</p>
            </section>

            <section class="btn">
                <button mat-flat-button color="warn" class="text-600">
                    <a href="">Já tenho conta</a>
                </button>
                <button mat-flat-button color="warn" class="text-600">
                    <a href="">Quero me cadastrar</a>
                </button>
            </section>
        </div>
    <app-footer></app-footer>
</div>