<app-nav-bar></app-nav-bar>

<!-- <div class="content">
    <div class="logo">
        <img src="./src/assets/logo/Logo.png" alt="logo">
    </div>

    <section>
        <p class="text-500 title">Boas-vindas!</p>
        <p class="text-400">Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!</p>
    </section>
    <section>
        <div>
            <button mat-flat-button color="warn">
                <a href="">Já tenho uma conta</a>
            </button>
            <button mat-flat-button color="warn">
                <a href="">Quero me cadastrar</a>
            </button>
        </div>
    </section>

    <section>
        <img src="/src/assets/illustrations/Ilustração_(1).png" alt="">
    </section>

</div> -->

<app-footer></app-footer>