.footer {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    position: relative;

    small {
        color: #FFFFFF;
        font-size: 0.9em;
    }
}

.bg-illustration {
    width: 240px;
    height: 312px;
    display: block;
    margin: 1.5rem auto -1.3rem;
}