.body-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 10% 5% 20% 5%;
    flex: 1 1 auto;

    .logo {
        margin-bottom: 2.5em;
    }

    img {
        align-items: center;
        width: 8.9rem;
    }

    .text {
        font-size: 1rem;
        color: #3772FF;
        line-height: 1.4rem;

        p {
            text-align: center;
            margin: 0.5rem 0 1.5rem 0;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;

        mat-form-field {
            width: 125%;
            margin: 0;

            mat-label {
                font-size: 0.75rem;
            }
        }

        label {
            font-size: 1rem;
            color: #737380;
            margin-bottom: 0.4rem;
        }

        mat-icon {
            color: #999999;
        }

        span {
            color: #FC7071;
            font-size: 0.75rem;
            text-decoration: underline;
            margin-bottom: 1.6rem;
        }

        button.login {
            color: #ffffff;
            font-size: 1rem;
            width: 9.25rem;
            height: 2.5rem
        }
    }
}