<div class="body-home">
    <app-nav-bar></app-nav-bar>
    <section class="content">

        <div class="text-400 text">
            <p>Olá! Veja os amigos
                disponíveis para adoção!</p>
        </div>

<!-- recrear os cards de forma dinamica -->
        
        <div class="grid">
            <mat-grid-list cols="1"  rowHeight="2:1">
                <mat-grid-tile>
                    <mat-card>
                        <img src="" alt="">
                        <mat-card-content>1</mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
            </mat-grid-list>
        </div>
    </section>
    <app-footer></app-footer>
</div>